.resume{
    padding-top: 20%;
    padding-left: 80px;
    padding-right: 200px;
    background-color:#151C47;
    height: 100vh;
    width: 100vw;
    font-family: 'Playfair Display', serif;

}

h1 {
    font-family: 'Playfair Display', serif;
    color: #DDCDC6;
}

.resume-font {
    font-size: 18px;
    color: white;
}

footer {
    background-color:#151C47;
    color: #DDCDC6;
    width: 100vw;
    padding-bottom: 5px;
}

.center-text {
    text-align: center;
}
